<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <%- include('partials/header.ejs') %>
    
   
    <div class="form-container">
        <% if (locals.errors && locals.errors.length > 0) { %>
            <ul>
                <% locals.errors.forEach((error) => { %>
                    <li><%= error.path %>: <%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>
        <h2>Add car</h2>
        <form action="/new" method="post" class="add-car-form">
            <div class="field">
                <label for="make">Make:</label>
                <input id="make" name="make" type="text" required/>
            </div>
            <div class="field">
                <label for="model">Model:</label>
                <input id="model" name="model" type="text" required/>
            </div>
            <div class="field">
                <label for="year">Year:</label>
                <input id="year" name="year" type="number" required/>
            </div>
            <div class="field">
                <label for="kilometres">Kilometres:</label>
                <input id="kilometres" name="kilometres" type="number" required/>
            </div>
            <div class="field">
                <label for="drivetrain">Drive Train:</label>
                <select name="drivetrain" id="drivetrain" required>
                    <option value="AWD">AWD</option>
                    <option value="RWD">RWD</option>
                    <option value="FWD">FWD</option>
                    <option value="AWD">4WD</option>
                </select>
            </div>
            <div class="field">
                <label for="transmission">Transmission:</label>
                <select name="transmission" id="transmission" required >
                    <option value="Automatic">Automatic</option>
                    <option value="Manual">Manual</option>
                </select>
            </div>
            <div class="field">
                <label for="body">Body:</label>
                <input id="body" name="body" type="text" required/>
            </div>
            <div class="field">
                <label for="extcolor">Exterior Color:</label>
                <input id="extcolor" name="extcolor" type="text"/>
            </div>
            <div class="field">
                <label for="intcolor">Interior Color:</label>
                <input id="intcolor" name="intcolor" type="text"/>
            </div>
            <div class="field">
                <label for="description">description:</label>
                <input id="description" name="description" type="text"/>
            </div>
            <div class="field">
                <label for="price">Price:</label>
                <input id="price" name="price" type="number" required/>
            </div>
            <div class="field">
                <label for="img">Image Adress:</label>
                <input id="img" name="img" type="text"/>
            </div>
            
            <div class="field">
                <button type="Submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>