body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-color: lightgray;
    font-family: sans-serif;
    
}

.header-container {
    display: flex;
    text-decoration: none;
    justify-content:center;
    align-items: center;
    background-color: white;
    min-height: 20%;
    font-size: 32px;
    padding: 24px;

}
a {
    text-decoration: none;
    color: black;
}
.add-car-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 16px;
    border-radius: 8px;

}

.field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button select {
    background-color: white;
    border: 1px solid;
    padding: 4px 8px;
    border-radius: 8px;
    width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 24px 32px;
}
.card {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;

}

.details {
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 24px 32px;
}

input {
    border-radius: 999px;
    border: 1px solid;
    padding: 4px 8px;
    background-color: inherit;
}

.filter {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 16px ;
    gap: 8px;
}

.filter-input,select {
    width: 50%;
    background-color: inherit;
    height: max-content;
    padding: 4px 8px;
    border-radius: 0px;
}

label {
    min-width: max-content;
}

.filter-input {
    width: 50%;
    border: 1px solid;
}

.filter-field {
    display: flex;
    max-width: max-content;
    gap: 4px;
}




